<nz-layout>
    <nz-header class="header">
        <div class="logo">
            <img src="../../../assets/images/logo.jpg" alt="">
        </div>

    </nz-header>
    <nz-layout class="mainLayout">
        <nz-sider nzWidth="240px" nzTheme="light">
            <ul nz-menu nzMode="inline" class="sider-menu">
                <li nz-menu-item>
                    <a [routerLink]="['/home']">首页</a>
                </li>
                <li nz-submenu nzOpen nzTitle="学生信息">
                    <ul>
                        <li nz-menu-item><a [routerLink]="['/personalFiles']">个人档案</a> </li>
                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="情况汇总">
                    <ul>
                        <li nz-menu-item><a [routerLink]="['/workCollect']">出勤汇总</a> </li>
                        <li nz-menu-item><a [routerLink]="['/tempertureCollect']">体温汇总</a> </li>
                        <li nz-menu-item><a [routerLink]="['/heartCollect']">心率汇总</a> </li>
                        <li nz-menu-item><a [routerLink]="['/locationtCollect']">定位汇总</a> </li>
                        <li nz-menu-item><a [routerLink]="['/sportCollect']">运动汇总</a></li>
                        <li nz-menu-item><a [routerLink]="['/environmentCollect']">环境汇总</a></li>
                        <li nz-menu-item><a [routerLink]="['/warnCollect']">告警汇总</a></li>
                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="系统日志">
                    <ul>
                        <li nz-menu-item>登录日志</li>

                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="组成管理">
                    <ul>
                        <li nz-menu-item>班级架构编辑</li>
                        <li nz-menu-item>课表管理</li>
                        <li nz-menu-item>学校活动管理</li>

                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="紧急预案通知">
                    <ul>
                        <li nz-menu-item>火灾、地震演习发布</li>
                        <li nz-menu-item>火灾、地震演紧急预案启动</li>

                    </ul>
                </li>

            </ul>
        </nz-sider>
        <nz-layout class="inner-layout">
            <nz-content class="content1">
                <h4 style="font-weight: bolder;font-size: 16px;">今日全体告警</h4>
                <ul class="allWork">
                    <li>
                        <a href="javascript:;">
                            <div class="name">许小二</div>
                            <div class="workNew">
                                <div class="left">
                                    <img src="" style="width: 66px;height: 82px;" alt="">
                                </div>
                                <div class="right">
                                    <span>告警：无</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="name">许小二</div>
                            <div class="workNew">
                                <div class="left">
                                    <img src="" style="width: 66px;height: 82px;" alt="">
                                </div>
                                <div class="right">
                                    <span>告警：无</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="name">许小二</div>
                            <div class="workNew">
                                <div class="left">
                                    <img src="" style="width: 66px;height: 82px;" alt="">
                                </div>
                                <div class="right">
                                    <span>告警：无</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="name">许小二</div>
                            <div class="workNew">
                                <div class="left">
                                    <img src="" style="width: 66px;height: 82px;" alt="">
                                </div>
                                <div class="right">
                                    <span>告警：无</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="name">许小二</div>
                            <div class="workNew">
                                <div class="left">
                                    <img src="" style="width: 66px;height: 82px;" alt="">
                                </div>
                                <div class="right">
                                    <span>告警：无</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="name">许小二</div>
                            <div class="workNew">
                                <div class="left">
                                    <img src="" style="width: 66px;height: 82px;" alt="">
                                </div>
                                <div class="right">
                                    <span>告警：无</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="name">许小二</div>
                            <div class="workNew">
                                <div class="left">
                                    <img src="" style="width: 66px;height: 82px;" alt="">
                                </div>
                                <div class="right">
                                    <span>告警：无</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="name">许小二</div>
                            <div class="workNew">
                                <div class="left">
                                    <img src="" style="width: 66px;height: 82px;" alt="">
                                </div>
                                <div class="right">
                                    <span>告警：无</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="name">许小二</div>
                            <div class="workNew">
                                <div class="left">
                                    <img src="" style="width: 66px;height: 82px;" alt="">
                                </div>
                                <div class="right">
                                    <span>告警：无</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="name">许小二</div>
                            <div class="workNew">
                                <div class="left">
                                    <img src="" style="width: 66px;height: 82px;" alt="">
                                </div>
                                <div class="right">
                                    <span>告警：无</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="page">
                    <nz-pagination [nzPageIndex]="1" [nzTotal]="500" [nzPageSizeOptions]="10"></nz-pagination>
                </div>

            </nz-content>
            <nz-content class="content2">
                <div class="workError">
                    <div class="warn">
                        <h4 style="font-weight: bold;font-size: 16px;">出勤异常提醒</h4>
                        <ul>
                            <li>许小三今日未按时到校：病假</li>
                            <li>许小五今日未按时到校：未知</li>
                            <li>许小二今日未按时到校：未知</li>
                            <li>许小七今日未按时到校：事假</li>
                        </ul>
                    </div>
                    <div class="searchNews">
                        <div class="search">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                <input type="text" style="height: 52px;" nz-input placeholder="输入学生姓名" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="primary" style="width: 52px;height: 52px;" nzSearch><i nz-icon style="font-size: 24px;" nzType="search"></i></button>
                            </ng-template>
                        </div>
                        <div class="newList">
                            <nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th>学号</th>
                                        <th>姓名</th>
                                        <th>状态</th>
                                        <th>状态异常原因</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of basicTable.data">
                                        <td>{{ data.key }}</td>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.value }}</td>
                                        <td>{{ data.error }}</td>

                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>

                </div>
            </nz-content>
        </nz-layout>
        <nz-sider nzWidth="200px" nzTheme="light">
            <ul nz-menu nzMode="inline" class="sider-menu">
                <li nz-submenu nzOpen nzTitle="小学部">
                    <ul>
                        <li nz-menu-item>小一1班</li>
                        <li nz-menu-item>小二1班</li>
                        <li nz-menu-item>小三1班</li>
                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="初中部">
                    <ul>
                        <li nz-menu-item>初二1班</li>
                        <li nz-menu-item>初二2班</li>
                        <li nz-menu-item>初二3班</li>

                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="高中部">
                    <ul>
                        <li nz-menu-item>高一1班</li>
                        <li nz-menu-item>高一2班</li>
                        <li nz-menu-item>高一3班</li>

                    </ul>
                </li>


            </ul>
        </nz-sider>
    </nz-layout>
</nz-layout>